@import url(./modern-reset.css);
:root {
  --dark: rgb(9, 9, 9);
  --sizeIndex: calc(1vw + 1vh);
  --animation: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@font-face {
  font-family: raleway_m;
  src: url(../assets/fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}
@font-face {
  font-family: raleway_m;
  src: url(../assets/fonts/raleway-v22-cyrillic-900.woff2);
  font-weight: 900;
}
body, html {
  background-color: var(--dark);
  color: white;
  width: 100%;
  height: 100%;
  font-family: raleway_m, sans-serif;
  overflow: hidden;
  line-height: 1.8;
}

.slider {
  height: 100%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  overflow: visible;
  top: 15vh;
  will-change: transform;
}

.slider__item {
  max-height: 75vh;
  width: 20%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-box-shadow 500ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  transition: -webkit-transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-box-shadow 500ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 500ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 500ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-box-shadow 500ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}
.slider__item.opened {
  -webkit-transform: rotate(-15deg) scale(1.3);
          transform: rotate(-15deg) scale(1.3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3000px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3000px;
  z-index: 2;
}

.slider__img {
  height: 100%;
  width: 300%;
  background-size: cover;
  background-position: bottom;
  left: -100%;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transition: var(--animation) !important;
  transition: var(--animation) !important;
}

.siler__wrapper {
  -webkit-transition: var(--animation) !important;
  transition: var(--animation) !important;
}

.slider_bg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 0;
  -webkit-transform: rotate(5deg) !important;
          transform: rotate(5deg) !important;
  border: 1px solid red;
  top: -90vh;
  left: -20vh;
  opacity: 20%;
  -webkit-filter: blur(120px) saturate(10);
          filter: blur(120px) saturate(10);
}
.slider_bg .slider__item {
  width: 18% !important;
  max-height: 100%;
}

.description {
  position: absolute;
  font-size: calc(var(--sizeIndex) * 0.8);
  top: 20vh;
  left: 8vw;
  max-width: 24vw;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.description p {
  opacity: 0.9;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
.description.hidden {
  opacity: 0;
  -webkit-transform: translateY(5vh);
          transform: translateY(5vh);
}
.description.hidden p {
  -webkit-transform: translateY(3vh);
          transform: translateY(3vh);
}

.logo {
  font-size: calc(var(--sizeIndex) * 3.6);
  display: inline-block;
  background: linear-gradient(45deg, darkMagenta, Tomato, Violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}